.root {
  :global {
    li {
      display: inline-block;

      a {
        display: inline-block;
        color: rgb(0, 56, 197);
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 42px;
        border: 1px solid rgb(0, 56, 197);
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgb(0, 56, 197);
          color: #fff;
        }
      }
    }
  }

  :global {
    .selected {
      a {
        background: rgb(0, 56, 197);
        color: #fff;
      }
    }
  }
}
